.carrito-layout {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.productos-carrito {
  width: 65%;
}

.producto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.imagen-producto-carrito {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.nombre-producto {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.tramitar-pedido {
  width: 30%;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.tramitar-pedido h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.tramitar-pedido p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ver-catalogo-btn {
  background-color: #ffc107;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
}

.ver-catalogo-btn:hover {
  background-color: #e0a800;
}

.eliminar-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.eliminar-btn:hover {
  background-color: #d32f2f;
}

.counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.counter button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.counter input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.reviews h1{
  font-size: 1.8em;
  color: #444;
  margin-bottom: 20%;
}
.reviews{
  margin-top: 4%;
}