:root{
    --primary-background: #a32b2b;
    --primary-botton-color: #F8C716;
    --primary-botton-color-hover: #F8C716;
}

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 600;
}

.margen-arriba{
    margin-top: 45%;
}

.button-general {
    background-color: #f8c716;
    border: none;
    padding: 10px;
    border-radius: 7px;
    color: #f3f3f3;
    transition: 1s;
}
  
.button-general:hover {
    background-color: #ffc800;
    color: #0a0a0a;
    padding: 10px;
    border-radius: 7px;
}

.flecha{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 35px;
    opacity: 0.5;
    transition: 1s;
    z-index: 1000;
}

.flecha:hover{
    opacity: 1;
    width: 80px;
}