.error{
    color: red;
    background-color: rgba(255, 0, 0, 0.393);
    border: solid 5px rgb(255, 33, 33);
    border-radius: 10px;
    padding: 10px 0 10px 0;
}

.succes{
    color: green;
    background-color: rgba(0, 255, 0, 0.393);
    border: solid 5px rgb(0, 135, 0);
    border-radius: 10px;
    padding: 10px 0 10px 0;
}