:root{
    --primary-background: #a32b2b;
    --primary-botton-color: #F8C716;
    --primary-botton-color-hover: #F8C716;
}

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 600;
}


