footer {
    background-color: #a32b2b;
    color: #f5f5f5;
    font-family: inter;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;
}

.containerImg {
    position: absolute;
    top: 30%;
    left: 1.5%;
    z-index: 2;
}

.img-footer {
    width: 140px;
    height: auto;
}

.footer-center {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.nav-footer {
    display: flex;
    justify-content: center;
    gap: 250px; /* Espacio entre las secciones */
    max-width: 1000px; /* Ajusta si es necesario */
    text-align: center;
    position: relative;
}

.nav-footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px; /* Ancho fijo para mantener el mismo tamaño para cada sección */
    box-sizing: border-box;
    position: relative;
}

/* Borde simétrico entre secciones */
.nav-footer div:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -125px; /* Ajusta la posición según el nuevo gap de 250px */
    height: 100%;
    border-right: 1px solid white;
}

.nav-footer h3 {
    font-size: 1.5rem;
    margin-bottom: 12px;
    white-space: nowrap; /* Evita que el texto del h3 se divida en dos líneas */
}

.nav-footer p {
    font-size: 0.875rem;
    margin: 10px 0;
    font-weight: 100;
    text-align: center;
}

/* Área inferior para íconos sociales alineada a la derecha */
.nav-icons {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: auto;
    margin-right: 20px;
    align-self: flex-end;
}

.nav-icons p {
    margin-bottom: 5px;
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-icons img {
    width: 18px;
    height: 18px;
}


.sprite {
    .sprite {
        background-image: url("/Imagenes/spritesheet.png");
        background-repeat: no-repeat;
        display: block;
    }
    
    width: 18px;
    height: 18px;
}

.sprite-Instagram {
    background-position: -5px -5px;
}

.sprite-WhatsApp {
    background-position: -2063px -5px;
}

.sprite-X {
    background-position: -5px -2063px;
}

.sprite-tiktok {
    background-position: -2585px -5px;
}

.sprite-youtube {
    background-position: -3315px -5px;
}
